<br>

---

# Linear Classification using Tensorflow

---
<br>

<br>

---

## 1.0 - Import Modules

---
<br>

In [5]:
# If any of the modules are not working, simply run pip install on them

from __future__ import absolute_import, division, print_function, unicode_literals

# Supporting modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

# Tensorflow compatibility
import tensorflow.compat.v2.feature_column as fc

# Tensorflow itself
import tensorflow as tf

<br>

---

## 2.0 - Loading Dataset

---
<br>

In [6]:
# Data is loaded from online source. Read into pandas Dataframe
data_train = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')   # Training Data
data_test = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')     # Testing Data

y_train = data_train.pop('survived')      # Training Label - Whether passenger survived?
y_test = data_test.pop('survived')        # Test Label

In [8]:
# Look at the shape of our data
print(data_train.shape)              # 627 rows with 9 columns
print(data_test.shape)               # 264 rows with 9 columns

(627, 9)
(264, 9)

In [9]:
# First 5 rows of our data
data_train.head()

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [10]:
# Information about each columns in our data
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sex                 627 non-null    object
 1   age                 627 non-null    float64
 2   n_siblings_spouses  627 non-null    int64
 3   parch               627 non-null    int64
 4   fare                627 non-null    float64
 5   class               627 non-null    object
 6   deck                627 non-null    object
 7   embark_town         627 non-null    object
 8   alone               627 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 44.2+ KB

<br>

---

## 1.0 - Import Modules

---
<br>

<br>

---

## 1.0 - Import Modules

---
<br>